{% extends 'base.html.twig' %}

{% block title %}Edit SharedContacts{% endblock %}

{% block body %}
    <h1>Edit SharedContacts</h1>

    {{ include('shared_contacts/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('shared_contacts') }}">back to list</a>

    {{ include('shared_contacts/_delete_form.html.twig') }}
{% endblock %}
